.member-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
  }
  
.member-card:hover {
    background-color: #eee;
  }
  
.mypage-container {
overflow-y: auto;
}
  