.mainPage {
    padding: 1em;
    min-height: 100vh;
  }
  
  
  .userList {
    overflow: scroll;
    position: relative;
    top: 50px;
    width: 75vw;
    max-height: 80vh;
  }
  
  .userListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    height: 130px; /* Or adjust this value as needed */
  }
  