html, body {
    height: 100%;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    background-color: #f4f5f5;
  }
  
  .outer-ring {
    position: absolute;
    left: 40%;
    top: 13%;
    height: 310px;
    width: 310px;
    background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
    border-radius: 50%;
    /* Rotate */
    animation-duration: 2s;
    animation-name: rotate;
    animation-iteration-count: infinite;
  }
  
  .inner-ring {
    position: absolute;
    left: 41%;
    top: 15%;
    height: 280px;
    width: 280px;
    background-image: linear-gradient(0deg, #f4f5f5, #f4f5f5);
    border-radius: 50%;
  }
  
  @keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
  }
  
  .welcome {
    position: absolute;
    text-align: center;
    left: -51%;
    top: 45%;
    height: 550px;
    background-color: #ffffff;
    border-radius: 80px;
    transform: scale(0.5);
    width: 203vw;
  }
  
  .welcome-header {
    font-size: 3em; 
    color: #333; 
    font-weight: bold; 
    position: relative;
    top: 25px;
  }
  
  .welcome-body {
    font-size: 1.8em; 
    color: #abb0b0;
    margin-bottom: 10px; 
    position: relative;
    top: 50px;
  }
  
  .btn-start {
    position: absolute;
    left: 50%;
    top: 63%;
    transform: translateX(-50%);
  }
  
  .btn-start button {
    background: #ffffff;
    border: 3px solid #abb0b0;
    border-radius: 1rem;
    font-size: 3rem;
    line-height: 1.5;
    width: 150vw; 
    height: 15vh;
    color: rgb(12, 12, 12); 
    padding: 10px;
  }
  