.body {
    text-align: center;
    overflow-y: auto; 
    height: 100vh;
  }
  
  .loading-gif {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    border-radius: 30px;
  }
  
  .loading-gif.active {
    display: block;
  }
  
  .timelog {
    margin-top: 50px;
  }
  
  .id_card {
    margin-top: 90px;
    align-items: center;
  }
  
  .textarea {
    width: 20px;
  }
  
  .introduction {
    margin-top: 30px;
  }
  
  .safe_score {
    margin-top: 20px;
  }
  